/* Reset some basic styles for consistency */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.9), rgba(34, 34, 34, 0.9));
    background-size: cover;
  color: #dcdcdc;  /* Light gray text */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;  /* Ensures full viewport height */
  overflow: hidden;   /* Prevents overflow from affecting layout */
  line-height: 1.5;    /* Improves readability */
}


/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Base styles */
a {
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
}

input,
textarea {
  outline: none;
}

/* Apply smooth transition to all hover effects */
*,
*::before,
*::after {
  transition: all 0.3s ease;
}
