.input-container {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: #2b2b2b;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.input {
  flex-grow: 0.8;
  padding: 18px 30px;
  border-radius: 15px;
  background-color: #0f0f0f;
  color: #dcdcdc;
  border: none;
  font-size: 14px; /* Slightly smaller font */
  width: 70%; /* Ensure it fills the available space */
}

.input:focus {
  background-color: #101010;
}

.send-button {
  background-color: #ffffff;
  border: none;
  color: #000000;
  padding: 14px 24px;
  margin-left: 30px;
  border-radius: 20%;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.send-button:hover {
  background-color: #949494;
}

.send-button:active {
  transform: scale(0.95);
}

.chat-header {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffff; /* A calming blue */
  padding: 15px 0 15px 20px;
  background-color: #101011;;
  text-transform: capitalize;
  border-radius: 10px;
  margin-bottom: 30px;
  background: linear-gradient(270deg, #000000, #2e2e2e);
}

.message-container {
  -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
  scrollbar-width: none; /* Hides scrollbar in Firefox */
}


