.sidebar {
    background-color: #222;
    width: 30vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  .sidebar input {
    padding: 18px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #000000;
    background-color: #bbbbbb;
    color: #000000;
    font-size: 14px;
  }
  
  .sidebar input:focus {
    border-color: #4f86f4;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .sidebar li {
    display: flex;
    align-items: center;
    padding: 12px;
    font-size: 14px;
    background-color: #3f3f3f;
    color: #ffffff;
    margin: 8px 0;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .sidebar .selected-user {
    background-color: #000000; /* Highlight color */
    color: rgb(255, 255, 255); /* Text color for contrast */
    font-weight: bold;
  }
  
  .sidebar li:hover { 
    transform: translateY(-2px);
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.2);
  }
  
  .sidebar li.active {
    background-color: #5b5b5b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }


  .sidebar li.online {
    position: relative;
  }

  .sidebar li.online::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 85%; /* Adjust based on your layout */
      transform: translateY(-50%);
      width: 8px; /* Diameter of the dot */
      height: 8px; /* Diameter of the dot */
      background-color: #ffffff; /* Dot color */
      border-radius: 50%; /* Makes it a circle */
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Optional glow effect */
  }
